:root {
    --font: 'Nunito Sans';
    --border-radius: 5px;
    --light-text: hsl(200, 15%, 8%);
    --light-input: hsl(0, 0%, 52%);
    --light-background: hsl(0, 0%, 98%);
    --white: hsl(0,0%, 100%);
}

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    box-sizing: border-box;
}

img[src='lupa-dark.svg'], img[src='moon-dark.svg'], img[src='filter-dark.svg'] {
    display: none;
}

body {
    margin: auto;
    max-width: 1280px;
    font-family: var(--font);
    background-color: var(--light-background);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

header > h1 {
    font-size: 16px;
    font-weight: 800;
    color: var(--light-text);
    cursor: pointer;
}

header > button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: none;
    font-family: var(--font);
    font-weight: 600;
    font-size: 14px;
    color: var(--light-text);
    cursor: pointer;
}

img[src="moon.svg"], img[src="moon-dark.svg"] {
    width: 15px;
}



aside {
    display: flex;
    flex-direction: column;
    padding: 20px 16px;
    justify-content: space-around;
    gap: 30px;
}

aside > label {
    position: relative;
}

img[src="lupa.svg"], img[src='filter.svg'], img[src='lupa-dark.svg'], img[src='filter-dark.svg'] {
    width: 15px;
    position: absolute;
    top: 12px;
    left: 25px;
    font-weight: 300;
    opacity: 0.5;
}

#text-search {
    width: 100%;
    padding: 10px 0px 10px 60px;
    font-family: var(--font);
    font-weight: 300;
    font-size: 14px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: var(--border-radius);
    min-width: 200px;
}

#text-search:hover {
    cursor: text;
}

#filter-options {
    position: relative;
    width: 50%;
    min-width: 200px;
    color: var(--light-text);
}

#filter-options > button {
    width: 100%;
    padding: 10px 0px 10px 20px;
    font-family: var(--font);
    font-weight: 300;
    font-size: 14px;
    border: none;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: var(--border-radius);
    position: relative;
    cursor: pointer;
}

.hide-options{
    display: none;
}

.show-options {
    display: block;
    width: 100%;
    position: absolute;
    background-color: white;
    border: 1px solid transparent;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: var(--border-radius);
    z-index: 1;
    top: 48px;
}

.show-options a {
    display: block;
    font-family: var(--font);
    font-weight: 300;
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
}

.show-options a:hover {
    background-color: rgba(0,0,0,0.1);
}

article {
    display: flex;
    padding: 20px 16px;
    flex-wrap: wrap;
    row-gap: 40px;
    flex-direction: column;
    align-items: center;
    position: relative;
}



.country {
    max-width: 260px;
    border: 1px solid transparent;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: var(--border-radius);
    color: var(--light-text);
    cursor: pointer;
}

.country > div {
    display: flex;
    flex-direction: column;
    padding: 30px 0px 50px 25px;
    gap: 5px;
    font-size: 16px;
}

#country-image {
    width: 260px;
    max-width: 260px;
    height: 180px;
    max-height: 180px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    object-fit: cover;
}

#country-name {
    margin-bottom: 15px;
    font-size: 16px;
}

.country h4 {
    font-weight: 600;
}

.country span {
    font-weight: 300;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: center;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

/* * DETAIL SCREEN */
#back-btn {
    max-width: 170px;
    padding: 10px 30px;
    font-family: var(--font);
    font-weight: 300;
    font-size: 14px;
    border: none;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    cursor: pointer;
}

#country-detail {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#country-detail img { 
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

#country-detail h4 {
    font-weight: 600;
}

#country-detail span {
    font-weight: 300;
}

#country-detail h2 {
    font-size: 16px;
    margin-bottom: 15px;
}

#country-detail button {
    max-width: 170px;
    padding: 10px 30px;
    font-family: var(--font);
    font-weight: 300;
    font-size: 14px;
    border: none;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    cursor: pointer;
    margin: 0px 10px;
    
    margin-bottom: 5px;
}



@media screen and (min-width:600px) {
    
    aside {
        flex-direction: row;
        justify-content: space-between;
        
    }

    #filter-options {
        width: 200px;
    }

    #filter-options > select {
        width: 100%;
    }

    article {
        flex-direction: row;
        column-gap: 69px;
    }

    #back-btn {
        align-self: flex-start;
    }

    #country-detail {
        flex-direction: column;
    }

    #country-detail > img {
        width: 40%;
        max-width: 500px;

    }
}